# On ignore tout le contenu du dossier
/*
*

# On autorise exceptionnellement ces fichiers
!app.py
!record_inter.py
!.gitignore
!requirements.txt   

# Sécurité explicite
.env
venv/
__pycache__/
# Configuration locale de Streamlit (contient les secrets)
.streamlit/